@import url('https://fonts.googleapis.com/css?family=Chewy|Permanent+Marker|Satisfy');
body{
  /* overflow: hidden; */
  background: url('./images/profile_bg.jpg');
}

.nav-item a{
  color: #5bc0de;
  text-decoration: none;
}

.our-logo{
  font-family: 'Satisfy', cursive;
  font-size:2rem;
}

.card{
    position:relative;
    width:18rem;
}

.float-button{
  border-radius:50%;
  position:absolute;
  top:-20px;
  right:-10px;
  z-index:1;
}

.main-grid{
  margin-top: 1em;
}

.info-heading{
  padding: 0.2em;
  border-radius: 0.2em;
  background: rgb(68, 67, 67);
  font-family: 'Permanent Marker', cursive;
  font-size: 1.5em;
  color: #00aced;
}

.jumbotron{
  height: 100vh;
  margin-bottom: 0;
}

.flex-row{
  flex-flow:row wrap;
  align-items: center;
  justify-content: space-around;
}

.profile-info{
  height: 90vh;
  overflow:auto ;
}

.profile-card{
  box-shadow: 5px 5px 5px gray;
}

.friend-list{
  height: 90vh;
  overflow-y: auto;
}


.recommendation-list{
  height: 90vh;
  overflow-y: auto;
  overflow-x: hidden;
}

.friend-card{
  background: rgb(31, 29, 29);
  padding: 1em;
  height: 12em;
  text-align: center;
}

.recommendation-card{
  padding-top: 1em;
  background: rgb(31, 29, 29);
  height: 13em;
  width: 12em;
}

.recommendation-card a{
  color: whitesmoke;
}


.recommendation-card img{
  margin: 0 auto;
  height: 6em;
  width: 6em;
}

.friend-card a{
  color: whitesmoke;
}

.bg-image{
  border: 1px solid #00aced; 
  /* background: #00aced; */
  background: url('./images/friend_bg.jpg') no-repeat; 
  height: 100vh;
  background-size: cover;
  margin: 0;
}

.login-form,.register-form{
    width: 40%;
    margin: 2em auto;
    padding: 2em;
    background: rgba(255,255,255,0.4);
    border-radius: 1em;
}

.login-logo,.register-logo{
  padding: 0.5em;
  font-family: 'Satisfy', cursive;
  text-shadow: 2px 2px 2px #333;
  font-weight: 600;
  font-size: 70px; 
}

.login-head,.register-head{
  color: white;
  text-shadow: 2px 2px 2px black;
  font-size: 45px;
}

.login-form form,.register-form form{
  margin: 2em;
}

.login-form form .form-control{
  margin-bottom: 2em;
}


.register-form form .form-control{
  margin-bottom: 2em;
}

a{
  text-decoration: none;
}