@import url('https://fonts.googleapis.com/css?family=Chewy|Satisfy');
.our-logo{
  font-family: 'Satisfy', cursive;
  font-size:2rem;
}
.card{
    position:relative;
    width:18rem;
  }
  .float-button{
    border-radius:100%;
    position:absolute;
    top:-20px;
    right:-10px;
    z-index:1;
  }

  .jumbotron{
    height: 100vh;
    margin-bottom: 0;
  }

  .d-flex{
    flex-flow:row wrap;
  }
  .profile-info{
    /* position:fixed; */

    height: 90vh;
    overflow:auto ;
  }

  .profile-card{
    box-shadow: 5px 5px 5px gray;
  }

  .friend-list{
    border:1px solid black;
    height: 90vh;
    overflow-y: auto;
    /* overflow-x: hidden; */
  }